.GameResults {
    margin: auto;
    font-size: 1.5rem;
}

.GameResults .Results {
    display: flex;
    align-items: center;
    justify-content: center;
}

.GameResults .Results .ResultField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.GameResults .Results .FieldSeparator {
    width: 4px;
    height: 100px;
    border-radius: 8px;
    background-color: #192c44;
}

.GameResults .Results .ResultField span {
    font-family: 'Mallanna', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

.GameResults .Results .ResultField p span {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.GameResults .Options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameResults .Options button {
    font-size: 1rem;
    height: 70px;
}