.Footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.Footer p {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Footer p svg {
    margin: 0 10px;
    font-size: 1.2rem;
}

.Footer p span {
    font-weight: bolder;
}